# MEMBRE  souha salhi /hanine ben ahmed /iram ksila/ahmed fourati

In [1]:
import pandas as pd
import math

In [2]:
df2018=pd.read_excel("base-finale-SDI-2018.xlsx")
df2019=pd.read_excel("base-finale-SDI-2019.xlsx")
df2018.head()

,iso,country,Life expectency 2018,Expect years of scooling 2018,Mean years of scooling 2018,Gross income Level per capita 2018,CO2 emission 2018,Material footprint 2018
0,AFG,Afghanistan,64.5,10.1,3.9,2217.0,0.47,1.20
1,ALB,Albania,78.5,14.7,10.1,13637.0,2.80,11.61
2,DZA,Algeria,76.7,14.5,8.0,11302.0,3.45,3.08
3,AGO,Angola,60.8,11.8,5.2,6361.0,1.03,3.34
4,ATG,Antigua and Barbuda,76.9,12.5,9.3,20139.0,7.66,13.40

In [3]:

df2019.head()

,country,life expectency 2019,expected years of scooling 2019,means years of schooling 2019,GNI per capita 2019,CO2 emission 2019,material foot per cap(tonnes) 2019
0,Afghanistan,64.8,10.2,3.9,2229.0,0.47,1.20
1,Albania,78.6,14.7,10.1,13998.0,2.80,11.61
2,Algeria,76.9,14.6,8.0,11174.0,3.45,3.08
3,Angola,61.1,11.8,5.2,6104.0,1.03,3.34
4,Antigua and Barbuda,77.0,12.8,9.3,20895.0,7.66,13.40

In [4]:
def nettoyer_colonnes(df):
    for col_index in range(len(df.columns) - 2, len(df.columns)): 
        total = 0
        count = 0
        col = df.columns[col_index]
        for i in range(len(df[col])):
            value = df.iloc[i, col_index]
            if not pd.isnull(value):  # Vérify if valye is nan
                total += value
                count += 1
        if count != 0:
            moyenne_colonne = total / count
            for i in range(len(df[col])):
                value = df.iloc[i, col_index]
                if pd.isnull(value):
                    df.iloc[i, col_index] = moyenne_colonne
    return df
df2018=nettoyer_colonnes(df2018)
df2019=nettoyer_colonnes(df2019)

In [5]:
df2018.isnull().sum()

iso                                   0
country                               0
Life expectency 2018                  0
Expect years of scooling 2018         0
Mean years of scooling 2018           0
Gross income Level per capita 2018    0
CO2 emission 2018                     0
Material footprint 2018               0
dtype: int64

In [6]:
def renommer_colonnes(df, annee,c1,c2):
    nouveaux_noms = {c1: 'CO2_' + str(annee), c2: 'MF_' + str(annee)}
    df.rename(columns=nouveaux_noms, inplace=True)
    return df
df2018 = renommer_colonnes(df2018, 2018,"CO2 emission 2018","Material footprint 2018")
df2019 = renommer_colonnes(df2019, 2019,"CO2 emission 2019","material foot per cap(tonnes) 2019")

In [7]:
df2018.head()

,iso,country,Life expectency 2018,Expect years of scooling 2018,Mean years of scooling 2018,Gross income Level per capita 2018,CO2_2018,MF_2018
0,AFG,Afghanistan,64.5,10.1,3.9,2217.0,0.47,1.20
1,ALB,Albania,78.5,14.7,10.1,13637.0,2.80,11.61
2,DZA,Algeria,76.7,14.5,8.0,11302.0,3.45,3.08
3,AGO,Angola,60.8,11.8,5.2,6361.0,1.03,3.34
4,ATG,Antigua and Barbuda,76.9,12.5,9.3,20139.0,7.66,13.40

In [8]:
df2019.head()

,country,life expectency 2019,expected years of scooling 2019,means years of schooling 2019,GNI per capita 2019,CO2_2019,MF_2019
0,Afghanistan,64.8,10.2,3.9,2229.0,0.47,1.20
1,Albania,78.6,14.7,10.1,13998.0,2.80,11.61
2,Algeria,76.9,14.6,8.0,11174.0,3.45,3.08
3,Angola,61.1,11.8,5.2,6104.0,1.03,3.34
4,Antigua and Barbuda,77.0,12.8,9.3,20895.0,7.66,13.40

In [9]:
def calculate_IE(MAE, AEA):
    return (MAE / 15 + AEA / 18) / 2

def calculate_IEV(EV):
    return (EV - 20) / (85 - 20)
def calculate_IR(RNBph):
    return (math.log(RNBph) - math.log(100)) / (math.log(20000) - math.log(100))

def calculate_ID(IEV, IE, IR):
    return 3 * (IEV * IE * IR) ** (1/3)

def calculate_IIE(EM, CO2):
    DM = math.sqrt(max((EM / 6.52), 1) * max((CO2 / 1.58), 1))
    if DM <= 4:
        return 1 + (math.exp(DM) - math.exp(1)) / (math.exp(4) - math.exp(1))
    else:
        return DM - 2

def calculate_SDI(ID, IIE):
    return ID / IIE

In [10]:
df2018['IEV_2018'] = df2018['Life expectency 2018'].apply(calculate_IEV)
df2018['IE_2018'] = df2018.apply(lambda row: calculate_IE(row['Mean years of scooling 2018'], row['Expect years of scooling 2018']), axis=1)
df2018['IR_2018'] = df2018['Gross income Level per capita 2018'].apply(calculate_IR)
df2018['ID_2018'] = df2018.apply(lambda row: calculate_ID(row['IEV_2018'], row['IE_2018'], row['IR_2018']), axis=1)
df2018['IIE_2018'] = df2018.apply(lambda row: calculate_IIE(row['MF_2018'], row['CO2_2018']), axis=1)
df2018['SDI_2018'] = calculate_SDI(df2018['ID_2018'], df2018['IIE_2018'])

df2019['IEV_2019'] = df2019['life expectency 2019'].apply(calculate_IEV)
df2019['IE_2019'] = df2019.apply(lambda row: calculate_IE(row['means years of schooling 2019'], row['expected years of scooling 2019']), axis=1)
df2019['IR_2019'] = df2019['GNI per capita 2019'].apply(calculate_IR)
df2019['ID_2019'] = df2019.apply(lambda row: calculate_ID(row['IEV_2019'], row['IE_2019'], row['IR_2019']), axis=1)
df2019['IIE_2019'] = df2019.apply(lambda row: calculate_IIE(row['MF_2019'], row['CO2_2019']), axis=1)
df2019['SDI_2019'] = calculate_SDI(df2019['ID_2019'], df2019['IIE_2019'])

In [11]:
df2018.head()

,iso,country,Life expectency 2018,Expect years of scooling 2018,Mean years of scooling 2018,Gross income Level per capita 2018,CO2_2018,MF_2018,IEV_2018,IE_2018,IR_2018,ID_2018,IIE_2018,SDI_2018
0,AFG,Afghanistan,64.5,10.1,3.9,2217.0,0.47,1.20,0.684615,0.410556,0.584854,1.643400,1.000000,1.643400
1,ALB,Albania,78.5,14.7,10.1,13637.0,2.80,11.61,0.900000,0.745000,0.927723,2.560906,1.061494,2.412548
2,DZA,Algeria,76.7,14.5,8.0,11302.0,3.45,3.08,0.872308,0.669444,0.892277,2.414066,1.032084,2.339022
3,AGO,Angola,60.8,11.8,5.2,6361.0,1.03,3.34,0.627692,0.501111,0.783790,1.881113,1.000000,1.881113
4,ATG,Antigua and Barbuda,76.9,12.5,9.3,20139.0,7.66,13.40,0.875385,0.657222,1.001307,2.496208,1.400376,1.782527

In [12]:
df2019.head()

,country,life expectency 2019,expected years of scooling 2019,means years of schooling 2019,GNI per capita 2019,CO2_2019,MF_2019,IEV_2019,IE_2019,IR_2019,ID_2019,IIE_2019,SDI_2019
0,Afghanistan,64.8,10.2,3.9,2229.0,0.47,1.20,0.689231,0.413333,0.585872,1.651749,1.000000,1.651749
1,Albania,78.6,14.7,10.1,13998.0,2.80,11.61,0.901538,0.745000,0.932655,2.566897,1.061494,2.418192
2,Algeria,76.9,14.6,8.0,11174.0,3.45,3.08,0.875385,0.672222,0.890127,2.418294,1.032084,2.343119
3,Angola,61.1,11.8,5.2,6104.0,1.03,3.34,0.632308,0.501111,0.776007,1.879449,1.000000,1.879449
4,Antigua and Barbuda,77.0,12.8,9.3,20895.0,7.66,13.40,0.876923,0.665556,1.008263,2.513976,1.400376,1.795215

In [13]:
columns_2018 = ['iso',"country" ,'ID_2018', 'IIE_2018',"SDI_2018"] 
columns_2019 = ['ID_2019', 'IIE_2019',"SDI_2019"] 
df_new=pd.concat([df2018[columns_2018], df2019[columns_2019]], axis=1)
df_new.head()

,iso,country,ID_2018,IIE_2018,SDI_2018,ID_2019,IIE_2019,SDI_2019
0,AFG,Afghanistan,1.643400,1.000000,1.643400,1.651749,1.000000,1.651749
1,ALB,Albania,2.560906,1.061494,2.412548,2.566897,1.061494,2.418192
2,DZA,Algeria,2.414066,1.032084,2.339022,2.418294,1.032084,2.343119
3,AGO,Angola,1.881113,1.000000,1.881113,1.879449,1.000000,1.879449
4,ATG,Antigua and Barbuda,2.496208,1.400376,1.782527,2.513976,1.400376,1.795215

# STREAM 3

In [14]:
range_2019 = df2019['SDI_2019'].max() - df2019['SDI_2019'].min()

class_interval = range_2019 / 3

C1 = [df2019['SDI_2019'].min(), df2019['SDI_2019'].min() + class_interval]
C2 = [df2019['SDI_2019'].min() + class_interval, df2019['SDI_2019'].min() + 2 * class_interval]
C3 = [df2019['SDI_2019'].min() + 2 * class_interval, df2019['SDI_2019'].max()]  # Adjusted to ensure all values are included

def classify_SDI_level(SDI):
    if SDI >= C1[0] and SDI < C1[1]:
        return 'faible'
    elif SDI >= C2[0] and SDI < C2[1]:
        return 'moyen'
    elif SDI >= C3[0] and SDI <= C3[1]:  # Adjusted to include the upper bound
        return 'fort'

df_new['SDIL_2019'] = df_new['SDI_2019'].apply(classify_SDI_level)

In [15]:
range_2019 = df_new['ID_2019'].max() - df2019['ID_2019'].min()

class_interval = range_2019 / 3

ID1 = [df_new['ID_2019'].min(), df2019['ID_2019'].min() + class_interval]
ID2 = [df_new['ID_2019'].min() + class_interval, df2019['ID_2019'].min() + 2 * class_interval]
ID3 = [df_new['ID_2019'].min() + 2 * class_interval, df2019['ID_2019'].max()]  # Adjusted to ensure all values are included

def classify_ID_level(ID):
    if ID >= ID1[0] and ID < ID1[1]:
        return 'faible'
    elif ID >= ID2[0] and ID < ID2[1]:
        return 'moyen'
    elif ID >= ID3[0] and ID <= ID3[1]:  # Adjusted to include the upper bound
        return 'fort'

df_new['DL_2019'] = df_new['ID_2019'].apply(classify_ID_level)

In [16]:
df_new.head()

,iso,country,ID_2018,IIE_2018,SDI_2018,ID_2019,IIE_2019,SDI_2019,SDIL_2019,DL_2019
0,AFG,Afghanistan,1.643400,1.000000,1.643400,1.651749,1.000000,1.651749,moyen,faible
1,ALB,Albania,2.560906,1.061494,2.412548,2.566897,1.061494,2.418192,fort,fort
2,DZA,Algeria,2.414066,1.032084,2.339022,2.418294,1.032084,2.343119,fort,moyen
3,AGO,Angola,1.881113,1.000000,1.881113,1.879449,1.000000,1.879449,fort,faible
4,ATG,Antigua and Barbuda,2.496208,1.400376,1.782527,2.513976,1.400376,1.795215,moyen,moyen

In [17]:
# Ensure pandas is imported
import pandas as pd

# Sample DataFrame (replace this with your actual DataFrame loading/creation code)
# Example:
# df_new = pd.read_csv('your_data.csv')

# Step 1: Group the DataFrame by 'SDIL_2019' and 'DL_2019'
grouped_SDIL = df_new.groupby('SDIL_2019')
grouped_DL = df_new.groupby('DL_2019')

# Step 2: Retrieve the list of countries for each category
countries_SDIL = {group: set(group_df.index) for group, group_df in grouped_SDIL}
countries_DL = {group: set(group_df.index) for group, group_df in grouped_DL}

# Step 3: Initialize the correlation dictionary
correlation = {}

# Step 4: Compare pairwise the lists of countries for each category
for category_SDIL, countries_SDIL_list in countries_SDIL.items():
    for category_DL, countries_DL_list in countries_DL.items():
        # Compare categories and calculate common countries
        common_countries = countries_SDIL_list.intersection(countries_DL_list)
        # Store the result in the correlation dictionary
        correlation[(category_SDIL, category_DL)] = len(common_countries)

# Print the correlation dictionary
print("Correlation entre les categories SDIL-2019 et DL-2019 :")
for (category_SDIL, category_DL), common_countries_count in correlation.items():
    print(f"{category_SDIL} vs {category_DL}: {common_countries_count} common countries")

Correlation entre les categories SDIL-2019 et DL-2019 :
faible vs faible: 0 common countries
faible vs fort: 23 common countries
faible vs moyen: 1 common countries
fort vs faible: 7 common countries
fort vs fort: 16 common countries
fort vs moyen: 59 common countries
moyen vs faible: 32 common countries
moyen vs fort: 24 common countries
moyen vs moyen: 4 common countries

In [18]:
def determine_opportunity(row):
    if row['DL_2019'] == 'fort' and row['SDIL_2019'] in ['moyen', 'faible']:
        return "à potentiel d’amélioration durable"
    elif row['SDIL_2019'] in ['fort', 'moyen'] and row['DL_2019'] == 'faible':
        return "à potentiel d’amélioration socio-économique"
    elif row['SDIL_2019'] in ['moyen', 'faible'] and row['DL_2019'] in ['faible', 'moyen']:
        return "à potentiel d’amélioration en developpement durable"
    else:
        return "pays à la pointe du développement durable"
df_new['Opportunité d’amélioration socio-économique et durable'] = df_new.apply(determine_opportunity, axis=1)

In [19]:
df_new.head()

,iso,country,ID_2018,IIE_2018,SDI_2018,ID_2019,IIE_2019,SDI_2019,SDIL_2019,DL_2019,Opportunité d’amélioration socio-économique et durable
0,AFG,Afghanistan,1.643400,1.000000,1.643400,1.651749,1.000000,1.651749,moyen,faible,à potentiel d’amélioration socio-économique
1,ALB,Albania,2.560906,1.061494,2.412548,2.566897,1.061494,2.418192,fort,fort,pays à la pointe du développement durable
2,DZA,Algeria,2.414066,1.032084,2.339022,2.418294,1.032084,2.343119,fort,moyen,pays à la pointe du développement durable
3,AGO,Angola,1.881113,1.000000,1.881113,1.879449,1.000000,1.879449,fort,faible,à potentiel d’amélioration socio-économique
4,ATG,Antigua and Barbuda,2.496208,1.400376,1.782527,2.513976,1.400376,1.795215,moyen,moyen,à potentiel d’amélioration en developpement du...

In [20]:
df_new['SDI evolution rate'] = ((df_new['SDI_2019'] - df_new['SDI_2018']) / df_new['SDI_2018']) * 100

In [21]:
df_new.head()

,iso,country,ID_2018,IIE_2018,SDI_2018,ID_2019,IIE_2019,SDI_2019,SDIL_2019,DL_2019,Opportunité d’amélioration socio-économique et durable,SDI evolution rate
0,AFG,Afghanistan,1.643400,1.000000,1.643400,1.651749,1.000000,1.651749,moyen,faible,à potentiel d’amélioration socio-économique,0.508039
1,ALB,Albania,2.560906,1.061494,2.412548,2.566897,1.061494,2.418192,fort,fort,pays à la pointe du développement durable,0.233919
2,DZA,Algeria,2.414066,1.032084,2.339022,2.418294,1.032084,2.343119,fort,moyen,pays à la pointe du développement durable,0.175144
3,AGO,Angola,1.881113,1.000000,1.881113,1.879449,1.000000,1.879449,fort,faible,à potentiel d’amélioration socio-économique,-0.088449
4,ATG,Antigua and Barbuda,2.496208,1.400376,1.782527,2.513976,1.400376,1.795215,moyen,moyen,à potentiel d’amélioration en developpement du...,0.711791

In [22]:
def categorize_SDI_evolution(rate):
    if rate > 5:
        return 'fort'
    elif 0 <= rate <= 5:
        return 'moyen ou faible'
    else:
        return 'dimunition'

# Apply the function to create the 'SDI evolution level' column
df_new['SDI evolution level'] = df_new['SDI evolution rate'].apply(categorize_SDI_evolution)

In [23]:
df_new.head()

,iso,country,ID_2018,IIE_2018,SDI_2018,ID_2019,IIE_2019,SDI_2019,SDIL_2019,DL_2019,Opportunité d’amélioration socio-économique et durable,SDI evolution rate,SDI evolution level
0,AFG,Afghanistan,1.643400,1.000000,1.643400,1.651749,1.000000,1.651749,moyen,faible,à potentiel d’amélioration socio-économique,0.508039,moyen ou faible
1,ALB,Albania,2.560906,1.061494,2.412548,2.566897,1.061494,2.418192,fort,fort,pays à la pointe du développement durable,0.233919,moyen ou faible
2,DZA,Algeria,2.414066,1.032084,2.339022,2.418294,1.032084,2.343119,fort,moyen,pays à la pointe du développement durable,0.175144,moyen ou faible
3,AGO,Angola,1.881113,1.000000,1.881113,1.879449,1.000000,1.879449,fort,faible,à potentiel d’amélioration socio-économique,-0.088449,dimunition
4,ATG,Antigua and Barbuda,2.496208,1.400376,1.782527,2.513976,1.400376,1.795215,moyen,moyen,à potentiel d’amélioration en developpement du...,0.711791,moyen ou faible

In [27]:
df_new["Opportunité d’amélioration socio-économique et durable"].value_counts()

Opportunité d’amélioration socio-économique et durable
pays à la pointe du développement durable              75
à potentiel d’amélioration durable                     47
à potentiel d’amélioration socio-économique            39
à potentiel d’amélioration en developpement durable     5
Name: count, dtype: int64

In [28]:
import pandas as pd
from IPython.display import FileLink, display

# Assuming df_new is already defined and contains your data
df_new.to_excel("output.xlsx", index=False)

# Create a download link
display(FileLink("output.xlsx"))

C:\Users\souha\output.xlsx